<ngx-spinner></ngx-spinner>
<h1 mat-dialog-title>Upload Your Photo</h1>
<div mat-dialog-content>
  <p>It will be helpful for knowing your Identity</p>
  <mat-form-field>
    <!-- <img style="width:33px" src="../../assets/user.png"> -->
    <img  [src]="ProfileImage">
    <input type="file"  (change)="onFileChanged($event)" 
    #fileInput>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button style="width:50% ;" mat-button (click)="onNoClick()">Skip</button>
  <button style="width:41% ;" mat-button  cdkFocusInitial (click)="onUpload()">Ok</button>
</div> 

