.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2px;
    background-color: #2196F3;
    height: 90vh;
    grid-template-columns:1fr 200px 
    /* padding: 10px; */
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* padding: 20px 0; */
    font-size: 14px;
  }
  
  .example-container > * {
    width: 50%;
    padding-left: 10px;
  }
  agm-map {
    height: 90vh;
  }