<!-- <app-navigation></app-navigation> -->
<div class="grid-container">
  <div class="item1">
    <div>
    <agm-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [zoomControl]="false"
    (mapClick)="mapClicked($event)">
  
    <agm-marker 
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">
        
      <agm-info-window>
        <strong>InfoWindow content</strong>
        <ul style="text-align: left">
          <li>{{m.lat}}</li>
          <li>{{m.lng}}</li>
          <li>{{m.label}}</li>
          <li>{{m.draggable}}</li>
        </ul>
      </agm-info-window>
      
    </agm-marker>
    
    <agm-circle [latitude]="lat" [longitude]="lng" 
        [radius]="selectedValue"
        [fillColor]="'blue'"
        [circleDraggable]="false"
        [editable]="false">
    </agm-circle>
  </agm-map>
</div>
  </div>
  <div class="item2">
    <div class="example-container">
   
      <form>
          <mat-form-field>
            <mat-select placeholder="Select" (selectionChange)="getDistance($event.value)" [(ngModel)]="selectedValue" name="distance">
              <mat-option *ngFor="let position of distanceInMiles" [value]="position.distance">
                {{position.distance}} Km
              </mat-option>
            </mat-select>
            <mat-hint><span style="color: crimson;font-weight: bolder"><b>*</b></span> Distance in Kms</mat-hint>
          </mat-form-field> 
      </form>
    </div>
  </div>
</div>
