.example-container > * {
  width: 100%;
} 
.example-container {
  display: flex;
  flex-direction: column;
} 
*{
  margin:0;
  padding: 0;

}
.mat-toolbar.mat-primary {
  background: #fff !important;
   color: #111111; 
}
.toolbar-shadow
{
  box-shadow: 0px 15px 10px -15px #111;
}
.grid
{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:200px 1fr 50px;
}
.grid div:nth-child(even)
{
 
}
.grid div:nth-child(odd){

}

.title
{
  grid-column-start: 1;
  grid-column-end: 4;
}
.footer{
  grid-column-start:1;
  grid-column-end:4;  
}
.example-icon {
padding: 0 14px;
}

.bottom-bar
{
  background-color:#F2F2F2; 
}
.mat-progress-spinner svg {
  width: 30px !important;
}
.bottom-foot
{
  background-color:#F2F2F2; 
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 40px;
}
.example-spacer {
flex: 1 1 auto;
} 
.mat-bottom-sheet-container-large {
  min-width: 512px;
  padding: 0px !important;
  max-width: calc(100vw - 256px);
}