
<!-- <router-outlet></router-outlet> -->
<ngx-spinner></ngx-spinner>

<div class="grid">
    <div class="title">
        <mat-toolbar [@fadeIn]="loginState" class="toolbar-shadow" color="primary" >
            <mat-toolbar-row>
          <img  style="width: 53px;" src="../../assets/letter_b_PNG64.png">  <span style="margin-left: -12px;font-family: cursive;    margin-top: 16px;">ring Me Back</span>
            <span class="example-spacer"></span>
            <!-- <mat-icon class="example-icon">about-us</mat-icon> -->
            <mat-icon class="example-icon"  >help</mat-icon>
            </mat-toolbar-row>
            </mat-toolbar>
    </div>

    <div class="header"></div>
    <div class="sidebar"> 
        <!-- <input type="text" id="example1">
        <input type="text" id="example2"> -->
        <!-- <p>Combined value<span></span></p> -->
        <mat-tab-group>
        <mat-tab label="Login">
            
            <mat-card>
                  <div class="example-container">
                      <mat-form-field>
                        <input matInput placeholder="Email" [(ngModel)]="Email" >
                      </mat-form-field>
                    
                      <mat-form-field>
                        <input matInput placeholder="Password" [(ngModel)]="Password">
                      </mat-form-field>
                      <button (click)="login()" mat-button color="warn">Get Started</button>
                    
                    </div>
          
          
                
              </mat-card>

          
        </mat-tab>
        <mat-tab label="Register"> 
          
            <mat-card>

                
             


                    <form [formGroup]="RegisterForm">
                <div class="example-container">
                  
                    <mat-form-field>
                        <input matInput type="text" placeholder="Username" formControlName="Username" [class.invalid]="!RegisterForm.controls.Username.valid && (RegisterForm.controls.Username.dirty || submitAttempt)">
                      </mat-form-field>
                      <mat-error class="error-message" *ngIf="!RegisterForm.controls.Username.valid  && (RegisterForm.controls.Username.dirty || submitAttempt)">
                          *Please Enter Valid UserName
                      </mat-error>

                  <mat-form-field>
                      <input matInput type="text" placeholder="Email" formControlName="Email" [class.invalid]="!RegisterForm.controls.Email.valid && (RegisterForm.controls.Email.dirty || submitAttempt)">
                    </mat-form-field>
                    <mat-error class="error-message" *ngIf="!RegisterForm.controls.Email.valid  && (RegisterForm.controls.Email.dirty || submitAttempt)">
                            *Please Enter Valid Email
                        </mat-error>

                    <mat-form-field>
                        <input matInput type="text" placeholder="Name" formControlName="Name"  [class.invalid]="!RegisterForm.controls.Name.valid && (RegisterForm.controls.Name.dirty || submitAttempt)">
                      </mat-form-field>
                    
                      <mat-error class="error-message" *ngIf="!RegisterForm.controls.Name.valid  && (RegisterForm.controls.Name.dirty || submitAttempt)">
                            *Please Enter Valid Name
                        </mat-error>

                      <mat-form-field>
                          <input matInput type="text" placeholder="Surname" formControlName="Surname" [class.invalid]="!RegisterForm.controls.Surname.valid && (RegisterForm.controls.Surname.dirty || submitAttempt)">
                        </mat-form-field>
                     
                        <mat-error class="error-message" *ngIf="!RegisterForm.controls.Surname.valid  && (RegisterForm.controls.Surname.dirty || submitAttempt)">
                                *Please Enter Valid SurName
                            </mat-error>
                        <mat-form-field>
                      <input matInput type="password" placeholder="Password"  formControlName="Password" [class.invalid]="!RegisterForm.controls.Password.valid && (RegisterForm.controls.Password.dirty || submitAttempt)" >
                    </mat-form-field>
                    <mat-error class="error-message" *ngIf="!RegisterForm.controls.Password.valid  && (RegisterForm.controls.Password.dirty || submitAttempt)">
                            *Please Enter Valid Password
                        </mat-error>
                      
                        <mat-form-field>
                          <mat-select placeholder="Choose Role" formControlName="role">
                            <mat-option *ngFor="let role of roles" [value]="role.value">
                              {{role.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      
                        <mat-checkbox   required formControlName="check" (change)="onChkChange($event)">Terms and Conditions</mat-checkbox>

                    <!-- <button style=" margin-top: 14px;" [disabled]="!RegisterForm.valid" mat-button color="warn" (click)="openDialog()">Get Started</button> -->
                    <button style=" margin-top: 14px;" mat-button color="warn" (click)="register()">Get Started</button>
                  </div>
                </form>
        
              
            </mat-card>
        
        
        
        
        </mat-tab>
  
      </mat-tab-group></div>
    <div class="content">
    </div>
    <div class="footer bottom-foot">
      
    </div>

</div>




