/* .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    position: fixed !important;
  } */
  *{
    margin:0;
    padding: 0;
  
  }
.grid{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: 75px 1fr;
  height: 91vh;
}
.message-title
{
  font-size: 13px;
    font-weight: 800;
}
.add-button
{

}
.emoji-button
{

}
.input-box
{

}
.enter-button
{

}
.messag-box
{
  display:grid; 
      height: 8vh;
        grid-template-columns: 42px 42px 140px 40px;
}
.messag-box div:nth-child(even)
{
  /*background-color: red*/
}
.messag-box div:nth-child(odd)
{
  /*background-color: royalblue*/
}
.header-messagebox
{
  height: 8vh;
    width: 42.5vh;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.speech-bubble {
	position: relative;
	background: #80ffff;
	border-radius: .4em;
      width: 153px;
    margin-left: 35px;
    height: 46px;
    position: absolute;
    bottom: 25px;
    padding:15px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 9px solid transparent;
	border-right-color: #80ffff;
	border-left: 0;
	margin-top: -8px;
	margin-left: -8px;
}
.mat-tab-header {
width:320px !important
}
mat-tab-body ng-tns-c14-22 mat-tab-body-active ng-star-inserted
{
  z-index:-1
}
.tab > .mat-tab-body
{
    z-index:-1
}
.mat-tab-body {
z-index:-1
}
.mat-tab-body.mat-tab-body-active  {
z-index:-1
}
/* .example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.grid div:nth-child(even)
{
  /* background-color: red; */
}
.grid div:nth-child(odd)
{
  /* background-color: peru; */
}
.search-box div:nth-child(even)
{
  /* background-color: blueviolet; */
}
.search-box div:nth-child(odd)
{
  /* background-color:hotpink; */
}
.example-full-width {
  width: 100%;
}
.child-box
{
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
  /* background-color: #2196F3; */
  padding: 30px;
}

.child-box > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  /* padding: 20px 0; */
  font-size: 30px;
}
/* .child-showcase
{
  height: 200px;

  background-color: navajowhite;
} */

.search-box
{
  display: grid;
  /* background-color: teal; */
  height: 100px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 150px 150px 250px;
  padding: 30px;
}
.title{
grid-column-start: 1;
  grid-column-end: 4;
  /* height: 50px; */
}
.header{
  grid-column-start: 1;
  grid-column-end: 4;
}