<!-- <app-navigation></app-navigation> -->
<!-- <button (click)="drawer.toggle()" >tap</button> -->
<!-- <button (click)="addchild()">
  showlist works!
</button>

<div #map id="map">

</div> -->
<!-- <mat-drawer-container class="example-container" autosize> -->
    <!-- <mat-drawer #drawer class="example-sidenav" mode="side" position="end"> -->
        <mat-sidenav #drawer  class="example-sidenav" mode="side" opened="false" position="end"  style="  padding: 0px;  position: fixed !important;">
      <!-- <mat-drawer #drawer class="example-sidenav" mode="side" position="end" > -->
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
      <!--<button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>-->
    <!-- </mat-drawer> -->
      <div class="row">
    <div class="col-md-12 header-messagebox" style=" padding: 15px;box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);">
      <p class="message-title">Message</p>
    </div>

  </div>
  <div class="row">
  <div class="col-md-12" style="    height: 83vh;background-color: #f9f9f9;    z-index: -1;">
    <div class="speech-bubble">
    <p>sdsdsd.</p>
  </div>
  </div>
  </div>
  <div class="messag-box">

    <div class="add-button" style="padding:9px">
      <mat-icon>attachment</mat-icon>
    </div>
    <div class="emoji-button" style="padding:9px">
      <mat-icon>sentiment_satisfied_alt</mat-icon>
    </div>
    <div class="input-box" >
       <mat-form-field class="example-full-width">
    <input type="search" matInput placeholder="Type a message.." >
  </mat-form-field>
    </div>
    <div class="enter-button" style="padding:9px">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
    
 
  </div>
    
  </mat-sidenav>
    <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->
  
  <!-- </mat-drawer-container> -->
<div class="grid">
  
<div class="title">
  <div class="search-box">
<div>
  <mat-form-field class="example-full-width">
    <input type="search" matInput placeholder="Search by name" >
  </mat-form-field>

</div>
<div>
  <mat-form-field style="width: 100%;">
    <mat-select placeholder="Choose Age">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 100%;">
    <mat-select placeholder="Choose Gender">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 100%;">
    <mat-select placeholder="Choose City">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  </div>
<div style="width:100%">
<div>
  <mat-tab-group class="tab" mat-align-tabs="end" style="z-index:-1">
  <mat-tab label="Agent"> 
    <div class="header" >

<div class="child-box">
<div *ngFor="let detail of childlist" class="child-showcase">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <img style="height: 100%;
    width: 100%;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="drawer.toggle()" >Message</button>
      <button mat-button>Call</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>



</div> </mat-tab>
  <mat-tab label="Parent">
    
    <div class="header" >

<div class="child-box">
<div *ngFor="let detail of childlist" class="child-showcase">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
 
    </mat-card-header>
    <img style="height: 100%;
    width: 100%;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="drawer.toggle()" >Message</button>
      <button mat-button>Call</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>



</div>
    
    
    
    
     </mat-tab>
</mat-tab-group>
</div>
</div>
</div>
<!--<div class="header" style="margin-top: 49px;">

<div class="child-box">
<div *ngFor="let detail of childlist" class="child-showcase">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
 
    </mat-card-header>
    <img style="height: 100%;
    width: 100%;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="drawer.toggle()" >Message</button>
      <button mat-button>Call</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>



</div>-->
</div>