
  .example-container {

  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
.mat-tab-body {
z-index:-1
}
.mat-toolbar.mat-primary {
  background: #000000 !important;
  color: #fff;
}
