<!-- <app-navigation></app-navigation> -->
<div class="profile-class">

  <div class="detail-panel">
   
    <mat-card>
      <div>
        <p class="input-form">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="UserName">
        <mat-icon matSuffix>person</mat-icon>
   
      </mat-form-field>
   
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
        <mat-icon matSuffix>mail</mat-icon>
      
      </mat-form-field>
      </p>
      <p class="input-form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
        <mat-icon matSuffix>perm_identity</mat-icon>
 
      </mat-form-field>
     
      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Surname">
        <mat-icon matSuffix>perm_identity</mat-icon>
      
      </mat-form-field>
      </p>
      <p class="input-form">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Bio</mat-label>
          <input matInput placeholder="Bio">
          <mat-icon matSuffix>create</mat-icon>
         
        </mat-form-field>
      </p>
</div>
<button mat-flat-button style="background-color:black">Update Profile</button>
    </mat-card>
</div>
  <div class="pic-panel">
    <mat-card style="margin-top:100px;    height: 405px;padding:0px;    width: 301px;">
<div class="profile-background">
<img style="height: 171px;width: 100%;" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400">
</div>
<div class="desc">
<div class="image-panel">
    <a href="#">
        <img class="avatar border-gray" src="https://smhttp-ssl-33667.nexcesscdn.net/manual/wp-content/uploads/2017/03/THE-IDLE-MAN-Premium-Mens-Classic-T-Shirt-White.jpg" >
        <h5 class="title">Mike Andrew</h5>
    </a>
    <p class="description">
        michael24
    </p>

 <p style="padding:6px ">Hi I am Michael,I am the agent of noida city and I will get the lost childeren to their right places</p>

</div>
</div>     


    </mat-card>
  </div>

</div>
