.profile-class
{
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 350px;
    /* background-color: red; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.detail-panel
{
    padding: 100px;
}
.profile-class div:nth-child(even)
{

}
.profile-class div:nth-child(odd)
{
  /* background-color: aqua */
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 50%;
    padding: 10px;
}
.desc
{
    
    height: 233px;
}
.image-panel
{
    text-align: center;
    text-transform: none;
    margin-top: -70px;
}
.border-gray{
    width: 124px;
    height: 124px;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
    border-color: #EEEEEE;
 border-radius:50%; 
}