
<!-- <app-navigation></app-navigation> -->

<!-- <p>Component Two</p>
    
<nav>
  <a  routerLink="login">Child One</a>
  <a  routerLink="showlist">Child Two</a>
</nav>

<div style="color: red; margin-top: 1rem;">
  Component Two's router outlet:
</div>

  <router-outlet></router-outlet> -->
      <div class="grid">
      <div class="title" >
       
    
     <div class="grid1" >
      <div class="image-box" >
        <img class="child-image" src="../../assets/father.png" >

      </div>
      <div class="button-box" >
        <button style="height: 43px;" mat-raised-button color="primary">Upload Child Photo</button>
      </div>   

     </div>
    
      </div>
      <div class="header">
     
        <mat-vertical-stepper style="    margin-top: 34px;" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out Child name</ng-template>
              <mat-form-field>
                <input matInput placeholder="Child Name" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out Where you find child</ng-template>
           
             
             <p (click)="countrypopup()">{{location}}</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out Child Age</ng-template>
         
              <mat-select style="    MARGIN-BOTTOM: 12PX;" >
                <mat-option *ngFor="let childage of child" [value]="childage.value">
                  {{childage.viewValue}}
                </mat-option>
              </mat-select>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Choose Gender</ng-template>
        
              <mat-select style="    MARGIN-BOTTOM: 12PX;" >
                <mat-option  value="male">
                 Male
                </mat-option>
                <mat-option  value="male">
                  Female
                 </mat-option>
              </mat-select>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
        
      </div>
      </div>