

.grid div:nth-child(even){
	/* background-color: red; */
}

.grid div:nth-child(odd){
	/* background-color: green; */
}


.grid{
	 display: grid; 
     grid-template-columns:1fr 1fr;
     grid-template-rows:1fr; 
     grid-column-gap: 6px;
     position:fixed;
     width:100%;
     height:100%;
  

}
.title
{
   
 
}
.child-image
{
    /*height: 197px;
    
    padding: 88px;*/
        height: 310px;
    margin-top: 76px;
}
.image-box{
    display: flex;
    justify-content: center;
}

.grid1
{
    display: grid; 
    grid-template-columns:1fr;
    grid-template-rows:1fr 200px; 
    grid-column-gap: 6px;
    height: 100%;
}
.grid1 div:nth-child(odd){
	/* background-color:yellow; */
}
.grid1 div:nth-child(even){

}
.button-box
{
    display: flex;
    justify-content: center;
}
/* @media screen and (min-width:736px)
{
	.grid{
	display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title"
    "header header"
    "sidebar content"
    "sidebar footer";
}
} */