.side-menu-theme
{
    position: fixed !important;
    transform: none;
    visibility: visible;
    background-image: url(../../assets/black-fog.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    width: 264px; 
}
.template-sidemenu
{
    background-color: #000000;
    opacity: 0.4;
    height: 100vh;
    width: 264px;
    position: absolute;
    top: 0px;
    z-index: -1;
}
.mat-toolbar.mat-primary {
    background: #000000 !important;
    color: #fff;
  }
.mat-nav-list .mat-list-item {
    cursor: pointer;
    outline: 0;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
}

.mat-nav-list a.active {
    background-color:red;
}
.active-link {
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
    width: 94%;
    margin-left: 7px;
    border-radius: 10px;
}