
    
<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isloggedIn">
        <mat-icon (click)="sidenav.toggle()" aria-label="Side nav toggle icon">menu</mat-icon>
    {{role}}
    </mat-toolbar>
<mat-sidenav-container style="display: contents !important;">
    
    <mat-sidenav class="side-menu-theme" mode="push" #sidenav  fullscreen  mode="side" opened="false" style="position: fixed !important; top: 64px !important;">
     
            <mat-nav-list style="    border-bottom: 1px solid #fff;" >

                    <a style="font-size:25px" mat-list-item routerLink="/showlist">
                        Bring Me Back
                            
                        </a>
                  </mat-nav-list>
        <mat-nav-list class="mat-board" *ngIf="role==='Parent'">

           <a mat-list-item  routerLinkActive="active-link" routerLink="/showlist">
            <mat-icon style="  margin-right: 8px;" >child_care</mat-icon>    Child Panel
        </a>
           <a  mat-list-item  routerLinkActive="active-link" routerLink="/notes">
            <mat-icon style="  margin-right: 8px;">person_add</mat-icon>  Add Child</a> 
           <a  mat-list-item   routerLinkActive="active-link" routerLink="/orphange">
            <mat-icon style="  margin-right: 8px;">domain</mat-icon>    Orphanage Panel</a> 
            <a  mat-list-item   routerLinkActive="active-link" routerLink="/profile">
                <mat-icon style="  margin-right: 8px;">person</mat-icon>User Profile</a> 
                <a  mat-list-item   routerLinkActive="active-link" (click)="onLogout()" >
                    <mat-icon style="  margin-right: 8px;">person</mat-icon>LogOut</a>
         </mat-nav-list>
         <mat-nav-list *ngIf="role=='Agent'">
                <a  mat-list-item routerLink="/notes">Heroes</a> 
            <a mat-list-item routerLink="/showlist">Child Panel</a>
            <a  mat-list-item routerLink="/orphange">Orphanage Panel</a> 
          </mat-nav-list>
          <mat-nav-list *ngIf="role=='Orphanage'">
                <a  mat-list-item routerLink="/orphange">Orphanage Panel</a> 
                <a mat-list-item routerLink="/showlist">Child Panel</a>
            <a  mat-list-item routerLink="/notes">Heroes</a> 
          </mat-nav-list>
          <div class="template-sidemenu">   </div>
    </mat-sidenav>
   
    <mat-sidenav-content>
            <router-outlet></router-outlet>
          </mat-sidenav-content>

    
    </mat-sidenav-container>
  
    

  
